In [343]:
#libraries to work with
import pandas as pd        #we use pandas to read our data we want to work with
import numpy as np         #we use  numpy to work with mathematical expressions

In [345]:
df=pd.read_csv("C:\\Users\\sb193\\OneDrive\\Documents\\Pandas.csv")

In [347]:
# It gives us first five rows of the dataset. If we want more or less you put any number inside the head brackets
df.head()

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
0,1,Walmart,2300000,Retailing,General Merchandisers,Bentonville,C. Douglas McMillon,"President, Chief Executive Officer & Director",485873,0.8,13643.0,-7.2,198825
1,2,Berkshire Hathaway,367700,Financials,Insurance: Property and Casualty (Stock),Omaha,Warren E. Buffett,Chairman & Chief Executive Officer,223604,6.1,24074.0,0,620854
2,3,Apple,116000,Technology,"Computers, Office Equipment",Cupertino,Timothy D. Cook,Chief Executive Officer & Director,215639,-7.7,45687.0,-14.4,321686
3,4,Exxon Mobil,72700,Energy,Petroleum Refining,Irving,Darren W. Woods,Chairman & Chief Executive Officer,205004,-16.7,7840.0,-51.5,330314
4,5,McKesson,68000,Wholesalers,Wholesalers: Health Care,San Francisco,John H. Hammergren,"Chairman, President & Chief Executive Officer",192487,6.2,2258.0,53,56563

In [153]:
#It gives last five rows of the dataset. If you want more so you can do how much you wanted to see.
df.tail()

,Rank,Title,Employees,Sector,Industry,Hqcity,Ceo,Ceo-title,Revenues,Revchange,Profits,Prftchange,Assets
495,496,Michaels Cos.,31000,Retailing,Specialty Retailers: Other,Irving,Carl S. Rubin,Chairman & Chief Executive Officer,5197,5.8,378.2,4.2,2148
496,497,Toll Brothers,4200,Engineering & Construction,Homebuilders,Horsham,Douglas C. Yearley Jr.,Chief Executive Officer & Director,5170,23.9,382.1,5.2,9737
497,498,Yahoo,8500,Technology,Internet Services and Retailing,Sunnyvale,Marissa A. Mayer,"President, Chief Executive Officer & Director",5169,4.0,-214.3,5.2,48083
498,499,Vistra Energy,4431,Energy,Energy,Dallas,Curtis A. Morgan,"President, Chief Executive Officer & Director",5164,4.0,-214.3,5.2,15167
499,500,ABM Industries,110000,Business Services,Diversified Outsourcing Services,New York,Scott B. Salmirs,"President, Chief Executive Officer & Director",5145,-2.8,57.2,-25,2281

In [154]:
# To find rows and columns
df.shape

(500, 13)

In [155]:
# For the information about the data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Rank        500 non-null    int64
 1   Title       500 non-null    object
 2   Employees   500 non-null    int64
 3   Sector      500 non-null    object
 4   Industry    500 non-null    object
 5   Hqcity      500 non-null    object
 6   Ceo         500 non-null    object
 7   Ceo-title   500 non-null    object
 8   Revenues    500 non-null    int64
 9   Revchange   500 non-null    float64
 10  Profits     500 non-null    float64
 11  Prftchange  500 non-null    object
 12  Assets      500 non-null    int64
dtypes: float64(2), int64(4), object(7)
memory usage: 50.9+ KB

In [156]:
#before using any column we are assiging them to a variable so it will be easy to work with instead of calling every column
sub_df= df[["Rank","Title","Employees","Sector","Revenues","Profits"]]

In [157]:
sub_df.head(3)    #this will show only 3 rows

   Rank               Title  Employees      Sector  Revenues  Profits
0     1             Walmart    2300000   Retailing    485873  13643.0
1     2  Berkshire Hathaway     367700  Financials    223604  24074.0
2     3               Apple     116000  Technology    215639  45687.0

In [158]:
sub_df.describe()        #this will describe our data its count,mean,std,min,max etc.

             Rank     Employees       Revenues       Profits
count  500.000000  5.000000e+02     500.000000    500.000000
mean   250.492000  5.635013e+04   24111.748000   1779.479800
std    144.477366  1.234520e+05   38337.353337   3937.558721
min      1.000000  8.300000e+01    5145.000000  -6177.000000
25%    125.750000  1.190000e+04    7245.000000    235.725000
50%    250.500000  2.500000e+04   11384.000000    683.600000
75%    375.250000  5.682525e+04   22605.250000   1770.775000
max    500.000000  2.300000e+06  485873.000000  45687.000000

In [159]:
mean_revenue= sub_df["Revenues"].mean()           #to find mean of any column
mean_revenue

24111.748

In [160]:
mode_revenue= sub_df["Revenues"].mode()           #to find mode of any column
mode_revenue

0    9061
Name: Revenues, dtype: int64

In [161]:
median_revenue= sub_df["Revenues"].median()       #to find median of any column
median_revenue

11384.0

In [162]:
C_revenue= sub_df["Revenues"].min()              #to find min value in the column
C_revenue

5145

In [163]:
W_revenue= sub_df["Revenues"].max()               #to find the max value in the column
W_revenue

485873

In [164]:
range= W_revenue-C_revenue                      #Find range while subtracting max by min value
range

480728

In [165]:
range=sub_df["Revenues"].max()-sub_df["Revenues"].min()
range

480728

In [166]:
st=sub_df["Revenues"].std()               #find standard deviation of any column
st

38337.35333653324

In [167]:
sd=sub_df["Revenues"].var()           #to find the variance of column
sd

1469752660.8501961

#IQR

In [169]:
#Its like quartile but in python we call it quantile
#p75=Q3 and P25=Q1
q1 = sub_df["Revenues"].quantile(0.25)
q1                                         # q1= 25%

7245.0

In [299]:
q2 = sub_df["Revenues"].quantile(0.50)         #q2= 50%
q2

11384.0

In [303]:
q3=sub_df["Revenues"].quantile(0.75) #q3 75%
q3

22605.25

In [305]:
iqr= q3-q1
iqr

15360.25

In [172]:
iqr2= sub_df["Revenues"].quantile(0.75)-sub_df["Revenues"].quantile(0.25)                    #Its the iqr
iqr2

15360.25

In [173]:
skew= sub_df["Revenues"].skew()        #to find skewness
skew

5.480066970305041

In [174]:
cv= (sub_df["Revenues"].std()/sub_df["Revenues"].mean()) *100           #to find cv
cv

158.99864803055027

In [175]:
cv2= (sub_df["Profits"].std()/sub_df["Profits"].mean()) *100
cv2

221.2758313353473

In [307]:
sub_df.sample(frac =0.020)            #sample means any randome data from the dataset to use instead of using whole data

,Rank,Title,Employees,Sector,Revenues,Profits
136,137,Whirlpool,93000,Industrials,20718,888.0
401,402,Targa Resources,1970,Energy,6691,-187.3
365,366,Quest Diagnostics,43000,Health Care,7515,645.0
485,486,Seaboard,11781,"Food, Beverages & Tobacco",5379,312.0
418,419,CMS Energy,7750,Energy,6399,551.0
8,9,AT&T,268540,Telecommunications,163786,12976.0
466,467,Olin,6400,Chemicals,5551,-3.9
210,211,Ecolab,47565,Chemicals,13153,1229.6
146,147,Bristol-Myers Squibb,25000,Health Care,19427,4457.0
7,8,General Motors,225000,Motor Vehicles & Parts,166380,9427.0

In [315]:
df_sample=sub_df.sample(frac =0.70, random_state =0)
mean_2= df_sample["Revenues"].mean()
print(mean_2)

24044.977142857144

In [178]:
Que1= """Select 70 % random rows from the dataset and condider this as a sample. calculate mean 
of this sample with respect to profit column. repeat the process 5 times
# Comute the difference between actual mean and each of the sample mean seperately,tabulate your observations."""

In [179]:
 sub_df.sample(frac =0.070)

,Rank,Title,Employees,Sector,Revenues,Profits
33,34,Phillips 66,14800,Energy,72396,1555.0
78,79,Energy Transfer Equity,30992,Energy,37504,995.0
21,22,Express Scripts Holding,25600,Health Care,100288,3404.4
249,250,Stanley Black & Decker,54023,Household Products,11407,965.3
422,423,Caseyâ€™s General Stores,24724,Retailing,6304,226.0
116,117,Tesoro,6308,Energy,24005,734.0
405,406,Activision Blizzard,9500,Technology,6608,966.0
224,225,Becton Dickinson,50928,Health Care,12483,976.0
455,456,Ingredion,11000,"Food, Beverages & Tobacco",5704,484.9
38,39,Freddie Mac,5982,Financials,65665,7815.0
98,99,Travelers Cos.,30900,Financials,27625,3014.0
318,319,Avis Budget Group,25600,Retailing,8659,163.0
473,474,Mattel,32000,Household Products,5457,318.0
458,459,S&P Global,20000,Business Services,5661,2106.0
135,136,Dollar Tree,116050,Retailing,20719,896.2
394,395,A-Mark Precious Metals,83,Materials,6784,9.3
70,71,Delta Air Lines,83756,Transportation,39639,4373.0
282,283,Autoliv,65900,Motor Vehicles & Parts,10074,567.1
265,266,Voya Financial,6700,Financials,10782,-428.0
206,207,Lincoln National,9057,Financials,13330,1192.0
24,25,Wells Fargo,269100,Financials,94176,21938.0
278,279,United States Steel,29800,Materials,10261,-440.0
367,368,WEC Energy Group,8074,Energy,7472,939.0
346,347,Steel Dynamics,7695,Materials,7777,382.1
65,66,Centene,30500,Health Care,40721,562.0
491,492,Rockwell Collins,19000,Aerospace & Defense,5259,728.0
439,440,Lam Research,7500,Technology,5886,914.0
310,311,Mohawk Industries,37800,Household Products,8959,930.4
395,396,Tractor Supply,19500,Retailing,6780,437.1
55,56,Lockheed Martin,97000,Aerospace & Defense,50658,5302.0
266,267,Mastercard,11900,Business Services,10776,4059.0
158,159,Cummins,55400,Industrials,17509,1394.0
126,127,Sears Holdings,140000,Retailing,22138,-2221.0
43,44,PepsiCo,264000,"Food, Beverages & Tobacco",62799,6329.0
448,449,American Tower,4507,Telecommunications,5786,956.4

In [180]:
mean_profit= sub_df["Profits"].mean()
mean_profit

1779.4797999999998

In [321]:
sam1=  sub_df.sample(frac =0.070 ,random_state=0)
mean_pro2= sam1["Profits"].mean()
print(mean_pro2)

1240.4000000000003

In [323]:
 df_sam3= sub_df.sample(frac =0.070,random_state=1)
 mean_pro3= df_sam3["Profits"].mean()
 print(mean_pro3)

1527.8828571428571

In [325]:
 df_sam4= sub_df.sample(frac =0.070,random_state=2)
 mean_pro4= df_sam4["Profits"].mean()
 print(mean_pro4)

1934.008571428571

In [327]:
 df_sam5= sub_df.sample(frac =0.070,random_state=3)
 mean_pro5= df_sam5["Profits"].mean()
 print(mean_pro5)

1462.6142857142856

In [331]:
 df_sam6= sub_df.sample(frac =0.070,random_state=4)
 mean_pro6= df_sam6["Profits"].mean()
 print(mean_pro6)

2303.3800000000006

In [333]:
diff_1 =(mean_profit - mean_pro2)
print(diff_1)

539.0797999999995

In [335]:
diff_2 =(mean_profit - mean_pro3)
print(diff_2)

251.59694285714272

In [337]:
diff_3 =(mean_profit - mean_pro4)
print(diff_3)

-154.5287714285712

In [339]:
diff_4 =(mean_profit - mean_pro5)
print(diff_4)

316.8655142857142

In [341]:
diff_5 =(mean_profit - mean_pro6)
print(diff_5)

-523.9002000000007

In [191]:
#Outliers

In [192]:
iqr_new= sub_df["Revenues"].quantile(0.75)-sub_df["Revenues"].quantile(0.25)
iqr_new

15360.25

In [193]:
upper_limit= sub_df["Revenues"].quantile(0.75)+1.5*iqr_new
upper_limit

45645.625

In [194]:
lower_limit=sub_df["Revenues"].quantile(0.25)-1.5*iqr_new
lower_limit

-15795.375

In [195]:
### outliers are those values which reside outside of the lower and upper limits boundries
outliers = sub_df[(sub_df['Revenues']>upper_limit) |
                  (sub_df['Revenues']<lower_limit)]
print("Outliers Rows")
print(outliers)

Outliers Rows
    Rank                       Title  Employees          Sector  Revenues  \
0      1                     Walmart    2300000       Retailing    485873
1      2          Berkshire Hathaway     367700      Financials    223604
2      3                       Apple     116000      Technology    215639
3      4                 Exxon Mobil      72700          Energy    205004
4      5                    McKesson      68000     Wholesalers    192487
..   ...                         ...        ...             ...       ...
57    58                       FedEx     335767  Transportation     50365
58    59  Hewlett Packard Enterprise     195000      Technology     50123
59    60               Cisco Systems      73700      Technology     49247
60    61                          HP      49000      Technology     48238
61    62                Dow Chemical      56000       Chemicals     48158

    Profits
0   13643.0
1   24074.0
2   45687.0
3    7840.0
4    2258.0
..      ...
57   1820.0
58   3161.0
59  10739.0
60   2496.0
61   4318.0

[62 rows x 6 columns]

In [196]:
iqr_new2= sub_df["Profits"].quantile(0.75)-sub_df["Profits"].quantile(0.25)
iqr_new2

1535.0500000000002

In [197]:
upper_limit2= sub_df["Profits"].quantile(0.75)+1.5*iqr_new2
upper_limit2

4073.3500000000004

In [198]:
lower_limit2=sub_df["Profits"].quantile(0.25)-1.5*iqr_new2
lower_limit2

-2066.8500000000004

In [199]:
outliers2 = sub_df[(sub_df['Profits']>upper_limit2) |
                  (sub_df['Profits']<lower_limit2)]
print("Outliers Rows")
print(outliers2)

Outliers Rows
     Rank                   Title  Employees       Sector  Revenues  Profits
0       1                 Walmart    2300000    Retailing    485873  13643.0
1       2      Berkshire Hathaway     367700   Financials    223604  24074.0
2       3                   Apple     116000   Technology    215639  45687.0
3       4             Exxon Mobil      72700       Energy    205004   7840.0
5       6      UnitedHealth Group     230000  Health Care    184840   7017.0
..    ...                     ...        ...          ...       ...      ...
284   285            Baker Hughes      33000       Energy      9841  -2738.0
309   310                    eBay      12600   Technology      8979   7266.0
342   343       Chesapeake Energy       3300       Energy      7872  -4401.0
343   344      Anadarko Petroleum       4500       Energy      7869  -3071.0
374   375  National Oilwell Varco      36384       Energy      7251  -2412.0

[68 rows x 6 columns]

# **Karl pearson(r)&Spearman(R)**

In [201]:
data={
    "height":[150,160,165,170,175,180,185],
    "weight":[50,55,60,65,70,75,80]
}
df=pd.DataFrame(data)

In [202]:
df.head()

   height  weight
0     150      50
1     160      55
2     165      60
3     170      65
4     175      70

In [203]:
correlation=df["height"].corr(df["weight"])
print(correlation)                                        #IN CORRELATION IT BY DEFAULT TAKE KALESPEARSON METHOD

0.9922858194799439

In [204]:
correlation=df["height"].corr(df["weight"],method="spearman")
print(correlation)         #for using spearman function we have to write method=spearman so the system will get that we want to use spearman formula

1.0

Find spearman(R)data

In [206]:
df["rank1"]= df["height"].rank()    #(r1-r2)
df["rank2"]= df["weight"].rank()
df.head()

   height  weight  rank1  rank2
0     150      50    1.0    1.0
1     160      55    2.0    2.0
2     165      60    3.0    3.0
3     170      65    4.0    4.0
4     175      70    5.0    5.0

In [207]:
df["D"]=df["rank1"]-df["rank2"]

In [208]:
df["D2"]=df["D"]**2
df.head()

   height  weight  rank1  rank2    D   D2
0     150      50    1.0    1.0  0.0  0.0
1     160      55    2.0    2.0  0.0  0.0
2     165      60    3.0    3.0  0.0  0.0
3     170      65    4.0    4.0  0.0  0.0
4     175      70    5.0    5.0  0.0  0.0

In [209]:
sum_d2=df["D2"].sum()
sum_d2

0.0

In [210]:
n=len(df)
n

7

In [211]:
R=1-((6*sum_d2)/((n**3)-n))
R

1.0

Find Karl pearson of data

In [213]:
data={
    "Height":[150,160,165,170,175,180,185,190],
    "Weight":[50,55,60,65,70,75,80,85]
}
df=pd.DataFrame(data)

In [214]:
mean_height=df["Height"].sum()
mean_height

1375

In [215]:
mean_weight=df["Weight"].sum()
mean_weight

540

In [216]:
df["x-xmean"]=(df["Height"]-mean_height)
df["x-xmean"]

0   -1225
1   -1215
2   -1210
3   -1205
4   -1200
5   -1195
6   -1190
7   -1185
Name: x-xmean, dtype: int64

In [217]:
df["y-ymean"]=(df["Weight"]-mean_weight)
df["y-ymean"]

0   -490
1   -485
2   -480
3   -475
4   -470
5   -465
6   -460
7   -455
Name: y-ymean, dtype: int64

In [218]:
df["xy"]=df["x-xmean"]*df["y-ymean"]
df["xy"]

0    600250
1    589275
2    580800
3    572375
4    564000
5    555675
6    547400
7    539175
Name: xy, dtype: int64

In [219]:
df["x2"]=df["x-xmean"]**2
df["x2"]

0    1500625
1    1476225
2    1464100
3    1452025
4    1440000
5    1428025
6    1416100
7    1404225
Name: x2, dtype: int64

In [220]:
df["y2"]=df["y-ymean"]**2
df["y2"]

0    240100
1    235225
2    230400
3    225625
4    220900
5    216225
6    211600
7    207025
Name: y2, dtype: int64

In [221]:
sum_x2=df["x2"].sum()
sum_x2

11581325

In [222]:
sum_y2=df["y2"].sum()
sum_y2

1787100

In [223]:
sum_xy=df["xy"].sum()
sum_xy

4548950

In [224]:
r=sum_xy/sum_x2*sum_y2
r

701942.8731168498

In [225]:
r_sqrt=r**(1/2)
r_sqrt

837.8203107569366